<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/button.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/chart.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


  <div>
    <h1 class="text-center pt-5"><b>Lead Analytics</b></h1>
    <div style="margin-left: 42.5%; margin-top: 3%">
    <nav>
      <ul>
        <li>
          <a href="#div1" id="pie"><u>Pie Chart</u></a>
          <span></span><span></span><span></span><span></span>
        </li>
        <li>
          <a href="#div2" id="temp"><u>Line Chart</u></a>
          <span></span><span></span><span></span><span></span>
        </li>
      </ul>
      </nav>
    </div>

  </div>


  <div class="div1" id="div1">
    <div class="row" style="position: relative;">
              <div class="col-lg-12">
          <canvas id="barChart" style="width:50vh; height:50vh;"></canvas>
              </div>
    </div>
  </div> 


  <div class="div2" id="div2">
    <div class="chart-container">
    <canvas class="ml-5 mr-5"  id="line-chartcanvas" height="95vh"></canvas>
    </div>
  </div>
 
  <div class="container c" id="abcd" style="display: none;">
    <div class="yellow a"></div>
    <div class="red a"></div>
    <div class="blue a"></div>
    <div class="violet a"></div>
  </div>

<script type="text/javascript" src="/js/fetch.js"></script> 
