<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/login.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Login</title>
</head>
<body>
   <div id="box" class="box">
    <div class="container">
        <form action="/Login" method="POST" class="row">
             <h4 class="col-12   pt-5 mb-5">
                LOGIN <i class="ml-2 fa fa-sign-in"></i>
             </h4>
             
             <div class="col-12   mb-4">
                 <input type="text" name="username" id="loginEmail" class="col-12" placeholder="Enter Email">
             </div>

             <div class="col-12   mb-5">
                <input type="password" name="password" id="loginPassword"
                class="col-12" placeholder="Enter Password">
            </div>


           

            <div class="col-12   mt-3">
               <div class="row">
                <input id="register" class="col-6 btn btn-primary" value="REGISTER" onclick="window.location.href='/register'">
                <input type="submit" class="col-6 btn btn-danger" id="submit" value="LOGIN"  onclick="ValidateEmail(username)">
               </div>
            </div>
        </form><!--end of row-->
    </div>
   </div>


</body>

<script>var register = document.getElementById('register');
    var login    = document.getElementById('login');
    var loginBox = document.getElementById('box');
    var registerBox = document.getElementById('rbox');
    
    
    var char = document.getElementById('char');
    var chartext = document.getElementById('chartext');
    var digit = document.getElementById('digit');
    var digittext = document.getElementById('digittext');
    var upper = document.getElementById('upper');
    var uppertext = document.getElementById('uppertext');
    
    var registerPassword = document.getElementById('registerPassword');
    var registerUser = document.getElementById('registerUser');

    function ValidateEmail(inputText)
{

var mailformat = /.+@(opco1|opco2|opco3|opco4|opco5)\.com$/;
if(inputText.value.match(mailformat))
{
// alert("You have entered a valid email address!");    
document.username.focus();
return true;
}
else
{
alert("You have entered an invalid email address!");    
document.username.focus();
return false;
}
}

    
    
    registerPassword.addEventListener('keyup',()=>{
        var p = registerPassword.value;
                
        checkpassword(p);
    })
    
    function checkpassword(password){
        if (password.length > 5 ) {
            char.classList.add('fa-check');
            char.classList.remove('fa-window-close');
            chartext.style.color = 'blue';
            char.style.color = 'blue';
        }
        else{
            char.classList.remove('fa-check');
            char.classList.add('fa-window-close');
            chartext.style.color = 'black';
            char.style.color = 'black';
        }
    
        if(password.match(/[0-9]+/)){
            digit.classList.add('fa-check');
            digit.classList.remove('fa-window-close');
            digittext.style.color = 'blue';
            digit.style.color = 'blue';
        }
        else{
            digit.classList.remove('fa-check');
            digit.classList.add('fa-window-close');
            digittext.style.color = 'black';
            digit.style.color = 'black';
        }
    
        if (password.match(/[a-z]+/) && password.match(/[A-Z]+/)){
            upper.classList.add('fa-check');
            upper.classList.remove('fa-window-close');
            uppertext.style.color = 'blue';
            upper.style.color = 'blue';
        }
        else{
            upper.classList.remove('fa-check');
            upper.classList.add('fa-window-close');
            uppertext.style.color = 'black';
            upper.style.color = 'black';
        }
    }
    
    registerUser.addEventListener('click' ,()=>{
        password = registerPassword.value;
       if(password.length < 6 || (!(password.match(/[0-9]+/))) || !(password.match(/[a-z]+/) && password.match(/[A-Z]+/))) {
           event.preventDefault();
       }
    })</script>
</html>
