<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Register</title>
</head>
<body>
   <div id="rbox" class="box rbox">
    <div class="container">
        <form action="/register" method="POST" class="row">
            <h4 class="col-12 pt-5 mb-4">
                REGISTER <i class="ml-2 fa fa-sign-in"></i>
            </h4>
        
            <div class="col-12 mb-3">
                <input type="text" name="name" id="registerName" class="col-12" placeholder="Enter your name" required>
            </div>
        
            <!-- <div class="col-12 mb-3">
                <input type="text" name="OpCo" id="registerOpco" class="col-12" placeholder="Enter OpCo" required>
            </div> -->

            <div class="col-12 mb-3">
                <div class="dropdown">
                    <div class="row">
                        <label for="opco-select" style="color: rgba(90, 84, 84, 0.9); font-size: 17px;"
                            class="col-5">Select your OpCo:</label>

                        <select style="border-bottom: 2px solid rgba(171, 171, 171 , 0.90);" class="col-7"
                            name="pets" id="opco-select">

                            <option value="dog">OpCo1</option>
                            <option value="cat">OpCo2</option>
                            <option value="hamster">OpCo3</option>
                        </select>
                    </div>
                </div>
            </div>
        
            <div class="col-12 mb-3">
                <input type="email" name="username" id="email" class="col-12" placeholder="Enter Email Id" required>
            </div>
        
            <div class="col-12 mb-3">
                <input type="password" name="password" id="registerPassword" class="col-12" placeholder="Enter Password"
                    required>
            </div>
            <small class="col-12 mb-2" id="insrtuctions">
                <span class="row ml-2">
                    <i class="fa fa-window-close mr-2 pt-1" id="char" ></i>
                    <span id="chartext">Aleast 6 characters long.</span>
                </span>
                <span class="row ml-2">
                    <i class="fa fa-window-close mr-2 pt-1" id="digit"></i>
                    <span id="digittext">At least 1 digit.</span>
                </span>
                <span class="row ml-2">
                    <i class="fa fa-window-close mr-2 pt-1" id="upper"></i>
                    <span id="uppertext">1 uppercase and lowercase character.</span>
                </span>
            </small>
        
            <div class="col-12   mt-5">
                <div class="row">
                    <input class="col-6 btn btn-secondary" value="LOGIN" id="login" onclick="window.location.href='/login'">
                    <input type="submit" class="col-6 btn btn-success" id="registerUser" value="REGISTER" onclick="submit">
                </div>
            </div> 
        </form>
        <!--end of row-->
    </div>
   </div>

</body>

<script>
    var login    = document.getElementById('login');
    var loginBox = document.getElementById('box');
    var registerBox = document.getElementById('rbox');
    
    
    var char = document.getElementById('char');
    var chartext = document.getElementById('chartext');
    var digit = document.getElementById('digit');
    var digittext = document.getElementById('digittext');
    var upper = document.getElementById('upper');
    var uppertext = document.getElementById('uppertext');
    
    var registerPassword = document.getElementById('registerPassword');
    var registerUser = document.getElementById('registerUser');
    
    function submit() {
        loginBox.style.display = 'none';
        registerBox.style.display = 'block';
    }
    
    var email = document.getElementById('email');
    registerUser.addEventListener('click',()=>{
        console.log(email.value);
        var mailformat = /.+@(opco1|opco2|opco3)\.com$/;
        if (!(email.value.match(mailformat))) {
            alert("You have entered an invalid email address!");
            event.preventDefault();
        }
        else{
            console.log("Good");
        }
    })

    registerPassword.addEventListener('keyup',()=>{
        var p = registerPassword.value;
                
        checkpassword(p);
    })
    
    function checkpassword(password){
        if (password.length > 5 ) {
            char.classList.add('fa-check');
            char.classList.remove('fa-window-close');
            chartext.style.color = 'blue';
            char.style.color = 'blue';
        }
        else{
            char.classList.remove('fa-check');
            char.classList.add('fa-window-close');
            chartext.style.color = 'black';
            char.style.color = 'black';
        }
    
        if(password.match(/[0-9]+/)){
            digit.classList.add('fa-check');
            digit.classList.remove('fa-window-close');
            digittext.style.color = 'blue';
            digit.style.color = 'blue';
        }
        else{
            digit.classList.remove('fa-check');
            digit.classList.add('fa-window-close');
            digittext.style.color = 'black';
            digit.style.color = 'black';
        }
    
        if (password.match(/[a-z]+/) && password.match(/[A-Z]+/)){
            upper.classList.add('fa-check');
            upper.classList.remove('fa-window-close');
            uppertext.style.color = 'blue';
            upper.style.color = 'blue';
        }
        else{
            upper.classList.remove('fa-check');
            upper.classList.add('fa-window-close');
            uppertext.style.color = 'black';
            upper.style.color = 'black';
        }
    }
    
    registerUser.addEventListener('click' ,()=>{
        password = registerPassword.value;
       if(password.length < 6 || (!(password.match(/[0-9]+/))) || !(password.match(/[a-z]+/) && password.match(/[A-Z]+/))) {
           event.preventDefault();
       }
    })</script>
</html>
