body{
  background: url('/images/login.jpg') fixed no-repeat ,linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-size: 100% 100%;
}

h4{
  letter-spacing: 1.18px;
  font-weight: 900;
  margin-left: 13px;
  color: rgb(28, 0, 120);
}
h4 i{
  color: rgb(4, 133, 4);
}

h4::after{
  content: "";
  display: block;
  height: 1.2px ;
  width: 120px;
  margin: 8px 1px;
  background: red;
}

.box{
  background: white;
  position: absolute;
  width: 444px;
  top: 44%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 7.5px;
  box-shadow: 2px 5px 12px rgba(0,0,0,0.5) ,-1px -2px 6px rgba(0,0,0,0.15)  ;
  box-sizing: border-box;
}

@media screen and (max-width:445px){
  .box{
      width: 95%;
      margin: 0px 1px;
  }
}

form input{
  outline: none;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(171, 171, 171 , 0.90);
  padding: 14px 5px;
  border-radius: 6px;
  z-index: 0;
}


form input:hover , form input:focus , input form:active{
  border-bottom:1.5px solid blue;
  z-index: 1;
}


#forgot{
  text-decoration: none;
  font-size: 14.4px;
  opacity: 0.8;
  margin-right: 7px;
}

#forgot:hover{
  opacity: 1;
  transition: 0.25s linear;
}



#submit , button{
  font-weight: bold;
  padding: 15px;
  border: none;
  outline: none;
}

#submit:hover , button:hover{
  opacity: 1;
  transition: 0.4s linear;
}
