body{
  background: url('/images/login.jpg') fixed no-repeat ,linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-size: 100% 100%;
}
h4{
<<<<<<< HEAD
  letter-spacing: 1.18px;
  font-weight: 900;
  margin-left: 13px;
  color: rgb(28, 0, 120);
}
h4 i{
  color: rgb(4, 133, 4);
}

h4::after{
  content: "";
  display: block;
  height: 1.2px ;
  width: 120px;
  margin: 8px 1px;
  background: red;
}

.box{
  background: white;
  position: absolute;
  width: 444px;
  top: 44%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 7.5px;
  box-shadow: 2px 5px 12px rgba(0,0,0,0.5) ,-1px -2px 6px rgba(0,0,0,0.15)  ;
  box-sizing: border-box;
}

/* @media screen and (max-width:445px){
    letter-spacing:1.18px;
    font-weight:900;
    margin-left: 13px;
    color: rgb(28, 0, 120);
   */
   @media screen and (max-width:445px){
    .box{
        width: 95%;
        margin: 0px 1px;
    }
=======
    letter-spacing: 1.18px;
    font-weight: 900;
    margin-left: 13px;
    color: rgb(28, 0, 120);
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  }
  h4 i{
    color: #A4A4A4;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  h4::after{
    content: "";
    display: block;
    height: 1.2px ;
    width: 120px;
    margin: 8px 1px;
    background: red;
  }
<<<<<<< HEAD

  .box{
      width: 95%;
      margin: 0px 1px;
=======
  
  .box{
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
    background: white;
    position: absolute;
    width: 444px;
    top: 44%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7.5px;
<<<<<<< HEAD
    box-shadow: 2px 5px 12px rgba(0,0,0,0.5) ,-1px -2px 6px rgba(0,0,0,0.15);
    box-sizing: border-box;
  }

form input{
  outline: none;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(171, 171, 171 , 0.90);
  padding: 14px 5px;
  border-radius: 6px;
  z-index: 0;
}


form input:hover , form input:focus , input form:active{
  border-bottom:1.5px solid blue;
  z-index: 1;
}


#forgot{
  text-decoration: none;
  font-size: 14.4px;
  opacity: 0.8;
  margin-right: 7px;
}

#forgot:hover{
  opacity: 1;
  transition: 0.25s linear;
}



#submit , button{
  font-weight: bold;
  padding: 15px;
  border: none;
  outline: none;
}

#submit:hover , button:hover{
  opacity: 1;
  transition: 0.4s linear;
}

=======
    box-shadow: 2px 5px 12px rgba(0,0,0,0.5) ,-1px -2px 6px rgba(0,0,0,0.15)  ;
    box-sizing: border-box;
  }
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  @media screen and (max-width:445px){
    .box{
        width: 95%;
        margin: 0px 1px;
    }
  }
<<<<<<< HEAD

=======
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  form input{
    outline: none;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(171, 171, 171 , 0.90);
    padding: 14px 5px;
    border-radius: 6px;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
<<<<<<< HEAD


=======
  
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  form input:hover , form input:focus , input form:active{
    border-bottom:1.5px solid blue;
    z-index: 1;
  }
<<<<<<< HEAD


=======
  
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  #forgot{
    text-decoration: none;
    font-size: 14.4px;
    opacity: 0.8;
    margin-right: 7px;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  #forgot:hover{
    opacity: 1;
    transition: 0.25s linear;
  }
<<<<<<< HEAD



=======
  
  
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  #submit , button{
    font-weight: bold;
    padding: 15px;
    border: none;
    outline: none;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  #submit:hover , button:hover{
    opacity: 1;
    transition: 0.4s linear;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  label,
  footer {
      font-family: sans-serif;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  label {
      font-size: 1rem;
      padding-right: 10px;
  }
<<<<<<< HEAD

  form select {
      font-size: 17px;
    border-bottom: 2px solid rgba(171, 171, 171 , 0.90);


  }

=======
  
  form select {
      font-size: 17px;
    border-bottom: 2px solid rgba(171, 171, 171 , 0.90);
   
    
  }
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  footer {
      font-size: .8rem;
      position: absolute;
      bottom: 30px;
      left: 30px;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  .output {
      background: center/cover no-repeat url('/media/cc0-images/hamster.jpg');
      position: relative;
  }
  .dropdown {
    margin-top: 1%;
    margin-left: 3.5%;
    margin-bottom: 1%;
    margin-right: 4% ;
    font-style: bold;
  }
<<<<<<< HEAD

=======
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
  #opco-select {
    border-bottom: 2px solid rgba(171, 171, 171 , 0.90);
    color: rgba(121, 117, 117, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
<<<<<<< HEAD
  }
=======
  }
  
  
>>>>>>> 5c40d03e3ebed45f5a5aae028105e1795ae9d021
